body{
  background-color: #EFEFEF;
}
h1 {
  color:#2B4865;
}
h3{
  color:#2B4865;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-color:#112B3C;
  border-width:4px;
  width:60%;
}
label {
  width: 180px;
  display: block;
  float: left;
  clear: both;
}

input,
textarea {
  width: 200px;
}
